.details {
  display: flex;
  gap: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  width: 16px;
  height: 16px;
  fill: var(--rating);
}

.link {
  text-decoration: underline;
  text-decoration-color: inherit;
  transition: text-decoration-color 100ms ease;
}

.link:hover,
.link:focus {
  text-decoration-color: transparent;
}
