.form {
}

.text {
  color: var(--text);
  margin-top: 40px;
  margin-bottom: 32px;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--gray);
  margin-bottom: 8px;
}

.input {
  width: 360px;
  padding: 16px 32px 16px 48px;
  border-radius: 12px;
  border: none;
  background-color: var(--inputs);
}

.map {
  width: 20px;
  height: 20px;
  fill: var(--gray);
  position: absolute;
  top: 46px;
  left: 20px;
  transition: fill 250ms ease;
}

.input:focus + .map,
.input:not(:placeholder-shown) + .map {
  fill: var(--main);
}

fieldset {
  border: none;
}

.filter {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
}

.checkboxGroup {
  max-width: 360px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.radioGroup {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.btn {
  padding: 16px 56px;
  border: none;
  border-radius: 50px;
  background-color: var(--button);
  font-weight: 500;
  color: var(--white);
  transition: background-color 250ms ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--button-hover);
}

.btn:active {
  background-color: var(--button);
}

.btn:disabled {
  background-color: var(--badges);
  color: var(--gray);
  cursor: not-allowed;
}
