.nav {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.link {
  font-weight: 500;
  transition: color 250ms ease;
}

.active {
  color: var(--button-hover);
}
