.detailsPage {
  max-width: 1440px;
  padding: 120px 64px 80px;
}

.general {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.back {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 999;

  font-weight: 500;
  color: var(--white);
  padding: 16px 63px;
  border: none;
  border-radius: 50px;
  background-color: var(--button);
  transition: background-color 250ms ease;
}

.back:hover,
.back:focus {
  background-color: var(--button-hover);
}

.back:active {
  background-color: var(--button);
}

.imgGroup {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.img {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  object-fit: cover;
  object-position: center;
}

.text {
  color: var(--text);
  margin-bottom: 60px;
}

.subPages {
  display: flex;
  gap: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
}

.link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  transition: border 0.3s ease-out;
}

.active {
  padding-bottom: 24px;
  border-bottom: 5px solid var(--button);
}

.wrap {
  display: flex;
  gap: 40px;
}
