.container {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  margin-top: 44px;
  padding: 16px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.text {
  color: var(--gray);
  margin-bottom: 24px;
}

.inputWrap {
  position: relative;
}

.input,
.comment {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 12px;
  background-color: var(--inputs);
}

.comment {
  height: 118px;
  resize: none;
}

.data {
  width: 100%;
}

.inputWrap:not(:last-child) {
  margin-bottom: 14px;
}

.input::placeholder {
  color: var(--gray);
}

.error {
  color: var(--button);
  position: absolute;
  font-size: 10px;
  right: 0;
}

.submit {
  font-weight: 500;
  color: var(--white);
  padding: 16px 63px;
  margin-top: 24px;
  border: none;
  border-radius: 50px;
  background-color: var(--button);
  transition: background-color 250ms ease;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.submit:hover,
.submit:focus {
  background-color: var(--button-hover);
}

.submit:active {
  background-color: var(--button);
}

/* Стилізація календаря */

:global(.react-datepicker) {
  font-family: inherit;
  background-color: var(--white);
  border: 1px solid var(--text);
  border-radius: 12px;
  overflow: hidden;
}

:global(.react-datepicker__triangle) {
  display: none;
}

:global(.react-datepicker__header) {
  background-color: var(--white);
  border-bottom: 1px solid var(--text);
  padding-bottom: 0;
}

:global(.react-datepicker__current-month) {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: inherit;
  margin-bottom: 12px;
}

:global(.react-datepicker__day-names) {
  margin: 12px 0;
  display: flex;
  justify-content: space-around;
  padding: 0 6px;
}

:global(.react-datepicker__day-name) {
  color: var(--text);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
}

:global(.react-datepicker__day) {
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.2;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  transition: background-color 250ms ease;
}

:global(.react-datepicker__week .react-datepicker__day:hover) {
  background-color: var(--gray-light);
  border-radius: 50px;
}

:global(.react-datepicker__day--selected) {
  background-color: var(--text);
  border-radius: 50px;
  color: var(--inputs);
}

:global(.react-datepicker__week .react-datepicker__day--selected:hover) {
  background-color: var(--text);
}

:global(.react-datepicker__day--keyboard-selected) {
  border: 1px solid var(--text);
  background-color: var(--white);
}

:global(.react-datepicker__day--disabled) {
  color: var(--gray-light);
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 24px 16px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 44px 57px;
    margin-top: 44px;
  }
}
