.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--gray);
  margin-bottom: 8px;
}

.input {
  width: 360px;
  padding: 16px 32px 16px 48px;
  border-radius: 12px;
  border: none;
  background-color: var(--inputs);
}

.map {
  width: 20px;
  height: 20px;
  fill: var(--gray);
  position: absolute;
  top: 46px;
  left: 20px;
  transition: fill 250ms ease;
}

.input:focus + .map,
.input:not(:placeholder-shown) + .map {
  fill: var(--main);
}
