.real {
  /* width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  position: absolute; */
  position: absolute;
  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}

.custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 71px;
  border-radius: 12px;
  border: 1px solid var(--gray-light);
  cursor: pointer;
  transition: border 250ms ease;
}

/* label:focus-within .custom {
  border: 1px solid var(--main);
} */

.real:checked + .custom {
  border: 1px solid var(--button);
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.text {
  margin-top: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}

@media screen and (min-width: 392px) {
  .custom {
    width: 112px;
    height: 96px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }

  .text {
    font-weight: 500;
    line-height: 1.5;
    margin-top: 8px;
  }
}
